<footer class="logout__footer__box">
<ul class="footer__bottom__description">
<%= link_to "",class:"text-decoration" do %>
<li class="footer__content privacy__policy__content li-none">プライバシーポリシー</li>
<% end %>
<%= link_to "",class:"text-decoration" do %>
<li class="footer__content li-none">メルカリ利用</li>
<% end %>
<%= link_to "",class:"text-decoration" do %>
<li class="footer__content li-none">特定商取引に関する表記</li>
<% end %>
</ul>
<br>
<%= image_tag "https://www-mercari-jp.akamaized.net/assets/img/common/common/logo-gray.svg?3296506464" ,class:"mercari__logo__design" %>
<br>
<small class="small__vocaburary">© 2019 Mercari</small>
</footer>