<head>
<link rel="stylesheet" href="signup.css">
</head>
<body>
<div class="signup__main__container">
<div class="signup__main__header"><img class="mercari__image__css" src="https://www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?3296506464">
<nav class="progress-bar signup-bar">
<div class="mercari__border__normal "></div>
<div class="mercari__border3"></div>
    <ol class="clearfix">
      <li class="active li-none">
        <span style="color: #888;">会員情報</span>
        <div class="progress-status"></div>
      </li>
      <li class="active li-none">
        <span style="color: #888;">電話番号認証</span>
        <div class="progress-status"></div>
      </li>
      <li class="active li-none ">
        <span class="address__number__user__information">お届け先住所入力</span>
        <div class="progress-status send__progress__box"></div>
      </li>
      <li class="li-none">
        支払い方法
        <div class="progress-status pay__status__box"></div>
      </li>
      <li class="li-none">
                  完了
                  <div class="progress-status"></div>
      </li>
    </ol>
  </nav>
</div>

<div class="signup__main__contents">
<div class="field user__information user__push__button">
        支払い方法
      </div>
 
<%= form_for(:session, url:  signup_credit_path) do |s| %>
   <div class="field user__nickname">
    <div class="user__nickname__box">
    <div class="user__error__text"><label class="user__position">カード番号</label><span class="form__user__name">必須</span><br></div>
    <%= s.text_field :nickname, autofocus: true ,placeholder: '半角数字のみ',class:"user__bottom__input__box2" %>
   </div>
  </div>

   <div class="field user__nickname">
    <div class="user__nickname__box">
    <div class="user__error__text"><label class="user__position">カード番号</label><span class="form__user__name">必須</span><br></div>
    <%= s.text_field :nickname, autofocus: true ,placeholder: '半角数字のみ',class:"user__bottom__input__box2" %>
   </div>
  </div>
   <div class="field user__nickname">
    <div class="user__nickname__box">
    <%= s.text_field :nickname, autofocus: true ,placeholder: '半角数字のみ',class:"user__bottom__input__box2" %>
   </div>
  </div>


  </div>




     
      <% end %>


</body>