.log-in-body
  .log-in-body__head
    .log-in-body__head__h1
      %a{href: ""}
        %img{alt:"mercari", src: "//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?3296506464"}/
      %a
  .log-in-body__boxes
    .sign-up-main-border
      .field.user__information.user__push__button
        新規会員登録
      %a.log-in-body__main__sign-up__new{href: "users/sign_up",style:"margin-bottom:-15px"} 
        %p.shinki.new__user__registrations メールアドレスで登録する
    .log-in-body__main__inner
      %a.log-in-body__main__inner__facebook{href:""}
        %i.fab.fa-facebook-square
        %p.facebook__text Facebookで登録する
      %a.log-in-body__main__inner__googles{href:""}
        %img.google-image{src:"/assets/icons8-google-48.png",}/
        %p.google__text Googleで登録する
    %footer.logout__footer__boxes
      %ul.footer__bottom__description
        %a.text-decoration{href:""}
          %li.footer__content.privacy__policy__content.li-none プライバシーポリシー
        %a.text-decoration{href:""}
          %li.footer__content.li-none メルカリ利用
        %a.text-decoration{href:""}
          %li.footer__content.li-none 特定商取引に関する表記
      %br/
      %img.mercari__logo__design{src: "https://www-mercari-jp.akamaized.net/assets/img/common/common/logo-gray.svg?3296506464"}/
      %br/
      %small.small__vocaburary © 2019 Mercari

            

