<div class = "user-edit_title">本人情報の登録</div>
<div class = "user-edit_coutainer">
  <a class = "user-edit_notice">
    お客さまの本人情報をご登録ください。<br>
    登録されたお名前・生年月日を変更する場合、本人確認書類の提出が必要になります。
  </a>
  <a class = "Identification"></a>

  <div class = "name">お名前</div>
    <h4 class = content>メルカリ野郎</h4>
  <div class = "name-kana">お名前カナ</div>
    <h4 class = content>メルカリヤロー</h4>
  <div class = "birth">生年月日</div>
    <h4 class = content>1999/07/29</h4>

  <div class = zip-code>郵便番号
    <div class = any-sign>任意</div>
  </div>
    <input type = "text" class = zip-code-form>

  <div class = prefectures>都道府県
    <div class = any-sign>任意</div>
  </div>
    <input class = prefectures-form></input>

  <div class = adress>番地
    <div class = any-sign>任意</div>
  </div>
    <input type = "text" class = adress-form>

  <div class = building-name>建物名
    <div class = any-sign>任意</div>
  </div>
    <input type = "text" class = building-name-form>











</div>