<head>
<link rel="stylesheet"  href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
</head>
<body>

<div class="mypage__big__block">
<%= render "sidebar" %>
<div class="mypage__right">


  <section class="mypage__right__user__area">
    <a href="#" id="img__position">
      <figure id=img__line>
        <img src="#" alt="＃",height="60",width="60" id=img__nikoniko>
      </figure>
      <h2 class="mypage__right__user__neme">#####
      </h2>
      <div class="mypage__right__user__data">
        <div>
        評価
        <span class="user__data__left">0</span>
        </div>
        <div>
        出品数
        <span class="user__data__right">0</span>
        </div>
      </div>
      </a>
    </section>


  <section class="mypage__right__user__info">
    <ul class="mypage__right__user__info__area">  
      <li class="mypage__right__user__notice">
        <h3>
          <a href="#",data-toggle="#">
            お知らせ
          </a>
        </h3>
      </li>
      <li class="mypage__right__user__todo">
        <h3>
          <a href="#",data-toggle="#">
            やることリスト
          </a>
        </h3>
      </li>
    </ul>

    <div class="mypage__right__user__info__list">
      <ul class="mypage__right__user__info__list_into" id="#">
        <li>
          <a href class="mypage__right__user__info__link"  data-modal="#" data-open="#">
            <figure id=mypage__mercari_position>
              <img class="mypage__mercari__img" alt="#", data-src="#",src="#">
            </figure>
            <div class="mypage__right__user__info__link__element">
              <div class="mypage__right__user__info__link__text">
                ####################################
              </div>
              <time>
                <i class="icon__time">
                </i>
                <span>
                  #＃日前
                </span>
              </time>
            </div>
            <i class="fas.fa-angle-right">
            </i>
          </a>
        </li>
        <li>
          <a href class="mypage__right__user__info__link"  data-modal="#" data-open="#">
            <figure>
              <img class="mypage__mercari__img" alt="#", data-src="#",src="#">
            </figure>
            <div class="mypage__right__user__info__link__element">
              <div class="mypage__right__user__info__link__text">
                ####################################
              </div>
              <time>
                <i class="icon__time">
                </i>
                <span>
                  #＃日前
                </span>
              </time>
            </div>
            <i class="fas.fa-angle-right">
            </i>
          </a>
        </li>
        <li>
          <a href class="mypage__right__user__info__link"  data-modal="#" data-open="#">
            <figure>
              <img class="mypage__mercari__img" alt="#", data-src="#",src="#">
            </figure>
            <div class="mypage__right__user__info__link__element">
              <div class="mypage__right__user__info__link__text">
                ####################################
              </div>
              <time>
                <i class="icon__time">
                </i>
                <span>
                  #＃日前
                </span>
              </time>
            </div>
            <i class="fas.fa-angle-right">
            </i>
          </a>
        </li>
        <li>
          <a href class="mypage__right__user__info__link"  data-modal="#" data-open="#">
            <figure>
              <img class="mypage__mercari__img" alt="#", data-src="#",src="#">
            </figure>
            <div class="mypage__right__user__info__link__element">
              <div class="mypage__right__user__info__link__text">
                ####################################
              </div>
              <time>
                <i class="icon__time">
                </i>
                <span>
                  #＃日前
                </span>
              </time>
            </div>
            <i class="fas.fa-angle-right">
            </i>
          </a>
        </li>
        <li>
          <a href class="mypage__right__user__info__link"  data-modal="#" data-open="#">
            <figure>
              <img class="mypage__mercari__img" alt="#", data-src="#",src="#"">
            </figure>
            <div class="mypage__right__user__info__link__element">
              <div class="mypage__right__user__info__link__text">
                ####################################
              </div>
              <time>
                <i class="icon__time">
                </i>
                <span>
                  #＃日前
                </span>
              </time>
            </div>
            <i class="fas.fa-angle-right">
            </i>
          </a>
        </li>
        <li class="list__read">
          <a href="#">
            一覧を見る
          </a>
        </li>
      </ul>
      <ul id="#" class="#">
        </li>
          <a href="#" class="">
            <figure>
              <img data-src="#" class="">
            </figure>
            <div class="">
              <div class="">
              ご登録の〜#########
              </div>
              <time>
                <i class="">
                </i>
                <span>
                #日前
                </span>
              </time>
            </div>
              <i class="#">
              </i>
          </a>
        </li>
        <li class="#">
          <a href="#">
          一覧を見る
          </a>
        </li>
      </ul>
    </div>
  </section>


  <section class="mypage__right__user__history">
    <h2 class="mypage__right__user__history__area">
      購入した商品
    </h2>
    <ul class="mypage__right__user__trade">
      <li class="mypage__right__user__trade__now">
        <h3>
          <a href="#" data-toggle="#">
            取引中
          </a>
        </h3>
      </li>
      <li class="mypage__right__user__trade__past">
        <h3>
          <a href="#" data-toggle="#">
          過去の取引
          </a>
        </h3>
      </li>
    </ul>
  <div class="mypage__right__user__trade__now__info">
    <ul id="#" class="mypage__right__user__trade__now__info__tab">
      <li class="mypage__right__user__trade__now__info__element">
        取引中の商品がありません
      </li>
    </ul>
    <ul id="#" class="#">
      <li class="#">
        過去に登録に取引した商品がありません
      </li>
    </ul>
    </div>
  </section>


    </div>    
  </main>
  </div>
</body>
