%link{href:"https://use.fontawesome.com/releases/v5.6.3/css/all.css",rel:"stylesheet"}/
<body>
<div class="mypage__right">
  <section class="mypage__right__user__area">
    <a href:"#">
      <figure>
        <img src="#" alt:"＃",height:"60",width:"60">
      </figere>
      <h2 class="mypage__right__user__neme">######
      </h2>
      <div class="mypage__right__user__user__data">
        <div>
          評価
            <span class="left">#
            </span>
        </div>
        <div>
          出品数
            <span class="right">#
            </span>
          </div>
      </a>
    </section>

  <section class="mypage__right__user__info">
    <ul class="mypage__right__user__info__tab">  
      <li class="mypage__right__user__notice">
        <h3>
          <a href="#","data-toggle":"#">
            お知らせ
          </a>
        </h3>
      </li>
      <li class="mypage__right__user__todo">
        <h3>
          <a href="#","data-toggle":"#">
            やることリスト
          </a>
        </h3>
      </li>
    </ul>

    <div class="mypage__right__user__info__list">
      <ul class="mypage__right__user__info__list_into" id="#">
        <li>
          <a href class="mypage__right__user__info__link"  data-modal="#" "data-open=#">
            <figure>
              <img class="mypage__mercari__img" alt="#", "data-src":"#",src:"#">
            </figure>
            <div class="mypage__right__user__info__link__element">
              <div class="mypage__right__user__info__link__text">
                ####################################
              </div>
              <time>
                <i class="icon__time">
                </i>
                <span>
                  #＃日前
                </span>
              </time>
            </div>
            <i class="fas.fa-angle-right">
            </i>
          </a>
        </li>
        <li>
          <a href class="mypage__right__user__info__link"  data-modal="#" "data-open=#">
            <figure>
              <img class="mypage__mercari__img" alt="#", "data-src":"#",src:"#">
            </figure>
            <div class="mypage__right__user__info__link__element">
              <div class="mypage__right__user__info__link__text">
                ####################################
              </div>
              <time>
                <i class="icon__time">
                </i>
                <span>
                  #＃日前
                </span>
              </time>
            </div>
            <i class="fas.fa-angle-right">
            </i>
          </a>
        </li>
        <li>
          <a href class="mypage__right__user__info__link"  data-modal="#" "data-open=#">
            <figure>
              <img class="mypage__mercari__img" alt="#", "data-src":"#",src:"#">
            </figure>
            <div class="mypage__right__user__info__link__element">
              <div class="mypage__right__user__info__link__text">
                ####################################
              </div>
              <time>
                <i class="icon__time">
                </i>
                <span>
                  #＃日前
                </span>
              </time>
            </div>
            <i class="fas.fa-angle-right">
            </i>
          </a>
        </li>
        <li>
          <a href class="mypage__right__user__info__link"  data-modal="#" "data-open=#">
            <figure>
              <img class="mypage__mercari__img" alt="#", "data-src":"#",src:"#">
            </figure>
            <div class="mypage__right__user__info__link__element">
              <div class="mypage__right__user__info__link__text">
                ####################################
              </div>
              <time>
                <i class="icon__time">
                </i>
                <span>
                  #＃日前
                </span>
              </time>
            </div>
            <i class="fas.fa-angle-right">
            </i>
          </a>
        </li>
        <li>
          <a href class="mypage__right__user__info__link"  data-modal="#" "data-open=#">
            <figure>
              <img class="mypage__mercari__img" alt="#", "data-src":"#",src:"#">
            </figure>
            <div class="mypage__right__user__info__link__element">
              <div class="mypage__right__user__info__link__text">
                ####################################
              </div>
              <time>
                <i class="icon__time">
                </i>
                <span>
                  #＃日前
                </span>
              </time>
            </div>
            <i class="fas.fa-angle-right">
            </i>
          </a>
        </li>
        <li>
          <a href class="mypage__right__user__info__link"  data-modal="#" "data-open=#">
            <figure>
              <img class="mypage__mercari__img" alt="#", "data-src":"#",src:"#">
            </figure>
            <div class="mypage__right__user__info__link__element">
              <div class="mypage__right__user__info__link__text">
                ####################################
              </div>
              <time>
                <i class="icon__time">
                </i>
                <span>
                  #＃日前
                </span>
              </time>
            </div>
            <i class="fas.fa-angle-right">
            </i>
          </a>
        </li>
        <li>
          <a href class="mypage__right__user__info__link"  data-modal="#" "data-open=#">
            <figure>
              <img class="mypage__mercari__img" alt="#", "data-src":"#",src:"#">
            </figure>
            <div class="mypage__right__user__info__link__element">
              <div class="mypage__right__user__info__link__text">
                ####################################
              </div>
              <time>
                <i class="icon__time">
                </i>
                <span>
                  #＃日前
                </span>
              </time>
            </div>
            <i class="fas.fa-angle-right">
            </i>
          </a>
        </li>
        <li class=list__read>
          <a href="#">
            一覧を見る
          </a>
        </li>
      </ul>




        


    %section.mypage__right__user__history






= render partial: "pages/side_bar"