<%# viewチェック済み　20190930関口 %>

<%= render partial: "shared/header" %>

<% breadcrumb :user_logout %>
<%= render partial: "shared/breadcrumbs" %>

<div class="profile__body">
  <div class="profile__body__side">
    <%= render partial: "shared/sidebar" %>
  </div>
<div class="logout__body">
  <div class="logout__body__main">
    <a href="" class="logout__body__main__button"　id="logout__button">
      ログアウト
    </a>
  </div>
</div>

</div>

<%= render partial: "shared/footer" %>
