<body>
  <header>
    <%= render partial: "mains/header" %>
  </header>
  <div class="kuzu">
    メルカリ　＞　マイページ　＞　プロフィール
  </div>


  <div class="logout__body">
    <div class="logout__body__side">
    </div>

    <div class="logout__body__main">
      <a href="" class="__button"　id="users__introduction__button">
        ログアウト
      </a>
    </div>
  </div>

  <footer>
    <%= render partial: "mains/footer" %>
  </footer>
</body>