<%= render partial: "shared/header" %>
<% breadcrumb :phone_confirmation %>
<%= render partial: "shared/breadcrumbs" %>

<div class="profile__body">
    <div class="profile__body__side">
      <%= render partial: "shared/sidebar" %>
    </div>
    <div class="product-inft">

  <h2 class="explanation item__information__phone">完了</h1>
  <div class="confirmation__finishing">確認済みです</div>
  </div>
    


