<body>
  <header>
    <%= render partial: "mains/header" %>
  </header>
  <div class="kuzu">
    メルカリ　＞　マイページ　＞　プロフィール（パンくず仮おき）
  </div>
  <div class="profile__body">
    <div class="profile__body__side">
    サイドバー入ります
    </div>
    <div class="profile__body__users">
      <div class="profile__body__users__header">
        プロフィール
      </div>
      <div class="profile__body__users__background-image">
        <div class="profile__body__users__background-image__image-icon">
          <img src ="/assets/icons8-google-48.png">
        </div>
        <div class="profile__body__users__background-image__name">
          <textarea name="background-image" id="background-image__name">sample-name</textarea>
        </div>
      </div>
      <div class="profile__body__users__introduction">
        <textarea name="introduction" placeholder="例）こんにちは、忍者わんこです。"　class="profile__body__users__text-form" id="profile__body__users__text-form"></textarea>
        <a href="" class="profile__body__users__introduction__button"　id="users__introduction__button">
          変更する
        </a>
      </div>
    </div>
  </div>

  <footer>
    <%= render partial: "mains/footer" %>
  </footer>
</body>