.footer
  .footer-top
    / バナー箇所
    = image_tag("footer-image.jpg",class: "footer-banner")
  .footer-main
    / footerの黒い部分
    %nav.footer-main_textbox
      .footer-main_text_about
        %h2.footer-text-title メルカリについて
        %ul.footer-text_links
          %li
            %a.footer-text_links_children
              =link_to 'https://about.mercari.com/' , class: 'footer-link' do
                会社概要（運営会社）
          %li
            %a.footer-text_links_children
              =link_to 'https://careers.mercari.com/' , class: 'footer-link' do
                採用情報
          %li
            %a.footer-text_links_children
              =link_to 'https://about.mercari.com/press/news/' , class: 'footer-link' do
                プレスリリース
          %li
            %a.footer-text_links_children
              =link_to 'https://jp-news.mercari.com/' , class: 'footer-link' do
                公式ブログ
          %li
            %a.footer-text_links_children
              =link_to 'https://www.mercari.com/jp/logo-guidelines/' , class: 'footer-link' do
                メルカリロゴ利用ガイドライン
          %br
          %a.icon
            = link_to '#', id:'footer-twitter' do
              %i.fab.fa-twitter
          %a.icon
            = link_to '#', id:'footer-facebook' do
              %i.fab.fa-facebook-square

      .footer-main_text_help
        %h2.footer-text-title ヘルプ＆ガイド
        %ul.footer-text_links
          %li
            %a.footer-text_links_children
              =link_to 'https://www.mercari.com/jp/help_center/' , class: 'footer-link' do
                メルカリガイド
          %li
            %a.footer-text_links_children
              =link_to 'https://www.mercari.com/jp/rakuraku-mercari/' , class: 'footer-link' do
                らくらくメルカリ便
          %li
            %a.footer-text_links_children
              =link_to 'https://www.mercari.com/jp/yuyu-mercari/' , class: 'footer-link' do
                ゆうゆうメルカリ便
          %li
            %a.footer-text_links_children
              =link_to 'https://www.mercari.com/jp/rakuraku-ogata/' , class: 'footer-link' do
                大型メルカリ便
          %li
            %a.footer-text_links_children
              =link_to 'https://www.mercari.com/jp/guide/car/' , class: 'footer-link' do
                車体取引ガイド
          %li
            %a.footer-text_links_children
              =link_to 'https://www.mercari.com/jp/safe/description/' , class: 'footer-link' do
                メルカリあんしん・あんぜん宣言！
          %li
            %a.footer-text_links_children
              =link_to 'https://www.mercari.com/jp/authenticity/' , class: 'footer-link' do
                偽ブランド品撲滅への取り組み
          %li
            %a.footer-text_links_children
              =link_to 'https://www.mercari.com/jp/box/' , class: 'footer-link' do
                メルカリボックス
      .footer-main_text_privacy
        %h2.footer-text-title プライバシーと利用規約
        .footer-main_text_privacy_left
          %ul.footer-text_links
            %li
              %a.footer-text_links_children
              =link_to 'https://www.mercari.com/jp/privacy/' , class: 'footer-link' do
                プライバシーポリシー
            %li
              %a.footer-text_links_children
              =link_to 'https://www.mercari.com/jp/tos/' , class: 'footer-link' do
                メルカリ利用規約
            %li
              %a.footer-text_links_children
                =link_to 'https://www.mercari.com/jp/tos_smartphone_support/' , class: 'footer-link' do
                  あんしんスマホサポート制度に関する利用特約
            %li
              %a.footer-text_links_children
                =link_to 'https://www.mercari.com/jp/compliance/' , class: 'footer-link' do
                  コンプライアンスポリシー

        .footer-main_text_privacy_right
          %ul.footer-text_links
            %li
              %a.footer-text_links_children
                =link_to 'https://www.mercari.com/jp/data_security/' , class: 'footer-link' do
                  個人データの安全管理に係る基本方針
            %li
              %a.footer-text_links_children
                =link_to 'https://www.mercari.com/jp/tokutei/' , class: 'footer-link' do
                  特定商取引に関する表記
            %li
              %a.footer-text_links_children
                =link_to 'https://www.mercari.com/jp/shikin_kessai/' , class: 'footer-link' do
                  資金決済法に基づく表示
            %li
              %a.footer-text_links_children
                =link_to 'https://about.mercari.com/sustainability/safe-secure-and-fair-transactions/' , class: 'footer-link' do
                  法令順守と犯罪抑止のために

      .footer-main_text_country
        %h2.footer-text-title 国
        %ul.footer-text_links
          %li
            %a.footer-text_links_children
              =link_to 'https://www.mercari.com/jp/' , class: 'footer-link' do
                日本
          %li
            %a.footer-text_links_children
              =link_to 'https://www.mercari.com/' , class: 'footer-link' do
                United States
    .footer-bottom
      =link_to '/' do
        %img.mercari-logo{src: "https://web-jp-assets.mercdn.net/_next/static/images/logo-white-1a0696cf557ee1ed6f3c3444661d21ad.svg"}/
        %a.copylight © 2019 Mercari-FAKE

:javascript
  new Darkmode().showWidget();
