.mypage__side
  %nav.mypage__side__nav
    %ul.mypage__side__list
      %li
        %a.mypage__side__list__tav{href:"/users"}
          マイページ
          %i.fas.fa-angle-right
      %li
        %a.mypage__side__list__tav{href:""}
          お知らせ
          %i.fas.fa-angle-right
      %li
        %a.mypage__side__list__tav{href:""}
          やることリスト
          %i.fas.fa-angle-right
      %li
        %a.mypage__side__list__tav{href:""}
          良いね！一覧
          %i.fas.fa-angle-right
      %li
        %a.mypage__side__list__tav{href:"/products/new"}
          出品する
          %i.fas.fa-angle-right
      %li
        %a.mypage__side__list__tav{href:"/users/:user_id/status_selling"}
          出品した商品-出品中
          %i.fas.fa-angle-right
      %li
        %a.mypage__side__list__tav{href:"/users/:user_id/status_trading"}
          出品した商品-取引中
          %i.fas.fa-angle-right
      %li
        %a.mypage__side__list__tav{href:"/users/:user_id/status_sold"}
          出品した商品-売却済み
          %i.fas.fa-angle-right
      %li
        %a.mypage__side__list__tav{href:""}
          購入した商品-取引中
          %i.fas.fa-angle-right
      %li
        %a.mypage__side__list__tav{href:""}
          購入した商品-過去の取引
          %i.fas.fa-angle-right
      %li
        %a.mypage__side__list__tav{href:""}
          ニュース一覧
          %i.fas.fa-angle-right
      %li
        %a.mypage__side__list__tav{href:""}
          評価一覧
          %i.fas.fa-angle-right
      %li
        %a.mypage__side__list__tav{href:"https://www.mercari.com/jp/help_center/"}
          ガイド
          %i.fas.fa-angle-right
      %li
        %a.mypage__side__list__tav{href:"https://www.mercari.com/jp/mypage/support/"}
          お問い合わせ
          %i.fas.fa-angle-right
    %h3.mypage__side__merpay
      メルペイ
    %ul.mypage__side__merpay__list
      %li
        %a.mypage__side__merpay__list__tav{href:"https://www.mercari.com/jp/mypage/sales/"}
          売上・振込申請
          %i.fas.fa-angle-right
      %li
        %a.mypage__side__merpay__list__tav{href:"https://www.mercari.com/jp/mypage/point/"}
          ポイント
          %i.fas.fa-angle-right
    %h3.mypage__side__setting
      設定
    %ul.mypage__side__setting__list
      %li
        %a.mypage__side__setting__list__tav{href:"/users/profile"}
          プロフィール
          %i.fas.fa-angle-right
      %li
        %a.mypage__side__setting__list__tav{href:"/world"}
          発送元・お届け先住所変更
          %i.fas.fa-angle-right
      %li
        %a.mypage__side__setting__list__tav{href:"/card/show"}
          支払い方法
          %i.fas.fa-angle-right
      %li
        %a.mypage__side__setting__list__tav{href:"/users/email_password"}
          メール/パスワード
          %i.fas.fa-angle-right
      %li
        %a.mypage__side__setting__list__tav{href:"/users/#{current_user.id}"}
          本人情報
          %i.fas.fa-angle-right
      %li
        %a.mypage__side__setting__list__tav{href:"phone_confirmation"}
          電話番号の確認
          %i.fas.fa-angle-right
      %li
        %a.mypage__side__setting__list__tav{href:"/users/logout"}
          ログアウト
          %i.fas.fa-angle-right

