.footer
  .footer-top
    / バナー箇所
    %img.footer-image{alt:"アプリのご案内", src:"/assets/footer-image.jpg",}/
  .footer-main
    / footerの黒い部分
    %nav.footer-main_textbox
      .footer-main_text_about
        %h2.footer-text-title メルカリについて
        %ul.footer-text_links
          %li
            %a.footer-text_links_children{href: "https://about.mercari.com/"} 会社概要（運営会社）
          %li
            %a.footer-text_links_children{href: "https://www.mercari.com/jp/jobs/"} 採用情報
          %li
            %a.footer-text_links_children{href: "https://about.mercari.com/press/news/"} プレスリリース
          %li
            %a.footer-text_links_children{href: "https://jp-news.mercari.com/", target: "_blank"} 公式ブログ
          %li
            %a.footer-text_links_children{href: "https://www.mercari.com/jp/logo-guidelines/"} メルカリロゴ利用ガイドライン
          %a.fab.fa-twitter{href: "https://twitter.com/mercari_jp", target: "_blank"}
          %a.fab.fa-facebook-square{href: "https://www.facebook.com/mercarijp", target: "_blank"}
      .footer-main_text_help
        %h2.footer-text-title ヘルプ＆ガイド
        %ul.footer-text_links
          %li
            %a.footer-text_links_children{href: "https://www.mercari.com/jp/help_center/"} メルカリガイド
          %li
            %a.footer-text_links_children{href: "https://www.mercari.com/jp/rakuraku-mercari/"} らくらくメルカリ便
          %li
            %a.footer-text_links_children{href: "https://www.mercari.com/jp/yuyu-mercari/"} ゆうゆうメルカリ便
          %li
            %a.footer-text_links_children{href: "https://www.mercari.com/jp/rakuraku-ogata/"} 大型メルカリ便
          %li
            %a.footer-text_links_children{href: "https://www.mercari.com/jp/guide/car/"} 車体取引ガイド
          %li
            %a.footer-text_links_children{href: "https://www.mercari.com/jp/safe/description/", target: "_blank"} メルカリあんしん・あんぜん宣言！
          %li
            %a.footer-text_links_children{href: "https://www.mercari.com/jp/authenticity/"} 偽ブランド品撲滅への取り組み
          %li
            %a.footer-text_links_children{href: "https://www.mercari.com/jp/box/"} メルカリボックス
      .footer-main_text_privacy
        %h2.footer-text-title プライバシーと利用規約
        .footer-main_text_privacy_left
          %ul.footer-text_links
            %li
              %a.footer-text_links_children{href: "https://www.mercari.com/jp/privacy/"} プライバシーポリシー
            %li
              %a.footer-text_links_children{href: "https://www.mercari.com/jp/tos/"} メルカリ利用規約
            %li
              %a.footer-text_links_children{href: "https://www.mercari.com/jp/tos_smartphone_support/"} あんしんスマホサポート制度に関する利用特約
            %li
              %a.footer-text_links_children{href: "https://www.mercari.com/jp/compliance/"} コンプライアンスポリシー
        .footer-main_text_privacy_right
          %ul.footer-text_links
            %li
              %a.footer-text_links_children{href: "https://www.mercari.com/jp/data_security/"} 個人データの安全管理に係る基本方針
            %li
              %a.footer-text_links_children{href: "https://www.mercari.com/jp/tokutei/"} 特定商取引に関する表記
            %li
              %a.footer-text_links_children{href: "https://www.mercari.com/jp/shikin_kessai/"} 資金決済法に基づく表示
            %li
              %a.footer-text_links_children{href: "https://about.mercari.com/csr/safety/"} 法令順守と犯罪抑止のために
      .footer-main_text_country
        %h2.footer-text-title 国
        %ul.footer-text_links
          %li
            %a.footer-text_links_children{href: "https://www.mercari.com/jp/"} 日本
          %li
            %a.footer-text_links_children{href: "https://www.mercari.com/"} United States
    .footer-bottom
      %img.mercari-logo{src: "https://web-jp-assets.mercdn.net/_next/static/images/logo-white-1a0696cf557ee1ed6f3c3444661d21ad.svg"}/
      %a.copylight © 2019 Mercari-FAKE

