<header class="header">
  <%= render partial: "shared/header" %>
</header>
<%= link_to "ログアウト", destroy_user_session_path, method: :delete,style: "margin-right:20px;",class: "send-button-box btn-border" %>
 <%= link_to "ログイン", new_user_session_path,class:"sign-in-button-boxes" %>
<%# ヘッダーをレンダーしてます %>

<div class="contents">

  <div class="top active">
    <div class="left-btn normal-left">
      <i class="fas fa-chevron-left"></i>
    </div>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSrrO2GNqXlVkyHaqjKuiEvk4Fj9G_V8BE6JUG2hwKhN3GlWqLr" class="active-image">
    <div class= top-position>
      <div class="top-info">
        <img src="https://web-jp-assets.mercdn.net/_next/static/images/top-banner-main-device-1f627e51e488f6ca35feaa6a08b79736.png" class="active-image-mini">
        <h2 class="text-main">スマホで かんたん<br>フリマアプリ</h2>
        <h4 class="text-mini">メルカリはスマホカメラからすぐに出品できる<br>購入時も安心な独自システムのアプリです</h4>
        <div class="app-store">
          <a href="https://itunes.apple.com/jp/app/id667861049?l=ja&mt=8"><img src="https://web-jp-assets.mercdn.net/_next/static/images/app-store-a5c17948c6fd6d5b60b13d421cd60b35.svg" class="apple-app"></a>
          <a href="https://play.google.com/store/apps/details?id=com.kouzoh.mercari&hl=ja"><img src="https://web-jp-assets.mercdn.net/_next/static/images/google-play-495575abb895b405aa6336b2a4304958.svg" class="google-app"></a>
        </div>
      </div>
    </div>
    <div class="right-btn normal-right">
      <i class="fas fa-chevron-right"></i>
    </div>
  </div>

  <div class="top">
    <div class="left-btn camp-left">
      <i class="fas fa-chevron-left"></i>
    </div>

    <div class="main">
      <img src="https://www-mercari-jp.akamaized.net/assets/img/featured/camp/index/index_keyvisual.png?3296506464" class="main-image">
    </div>

    <div class="right-btn camp-right">
      <i class="fas fa-chevron-right"></i>
    </div>
  </div>

  <div class="category">
    <p class="popular">人気のカテゴリー</p>
    <div class="genres">
      <a href="" class="lists genre-woman">
        <p class="genre">レディース</p>
      </a>
      <a href="" class="lists genre-mans">
        <p class="genre">メンズ</p>
      </a>
      <a href="" class="lists genre-camera">
        <p class="genre">家電・スマホ・カメラ</p>
      </a>
      <a href=""class="lists genre-toy">
        <p class="genre">おもちゃ・ホビー・グッズ</p>
      </a>
    </div>
  </div>

  <div class="items">
    <div class="popular-items">
      <div class="top-text">
        <p class="left-text">レディース新着アイテム</p>
        <a href="" class="right-text">
          <p class="text">もっと見る</p>
          <i class="fas fa-chevron-right"></i>
        </a>
      </div>

      <div class="lists-10">
        <div class="item">
          <img src="https://is4-ssl.mzstatic.com/image/thumb/Purple113/v4/cf/12/24/cf12243d-81df-06d0-9231-88e7998b8ae1/AppIcon-0-1x_U007emarketing-0-85-220-7.png/246x0w.jpg" class="item-image">
          <span aria-label="Price">¥900</span>
          <p class="item-info" >めっちゃええやん</p>
        </div>

        <div class="item">
          <img src="https://is4-ssl.mzstatic.com/image/thumb/Purple113/v4/cf/12/24/cf12243d-81df-06d0-9231-88e7998b8ae1/AppIcon-0-1x_U007emarketing-0-85-220-7.png/246x0w.jpg" class="item-image">
          <span aria-label="Price">¥900</span>
          <p class="item-info" >めっちゃええやん</p>
        </div>
      </div>

      <div class="top-text">
        <p class="left-text">メンズ新着アイテム</p>
        <a href="" class="right-text">
          <p class="text">もっと見る</p>
          <i class="fas fa-chevron-right"></i>
        </a>
      </div>

      <div class="lists-10">
        <div class="item">
          <img src="https://is4-ssl.mzstatic.com/image/thumb/Purple113/v4/cf/12/24/cf12243d-81df-06d0-9231-88e7998b8ae1/AppIcon-0-1x_U007emarketing-0-85-220-7.png/246x0w.jpg" class="item-image">
          <span aria-label="Price">¥900</span>
          <p class="item-info" >めっちゃええやん</p>
        </div>

        <div class="item">
          <img src="https://is4-ssl.mzstatic.com/image/thumb/Purple113/v4/cf/12/24/cf12243d-81df-06d0-9231-88e7998b8ae1/AppIcon-0-1x_U007emarketing-0-85-220-7.png/246x0w.jpg" class="item-image">
          <span aria-label="Price">¥900</span>
          <p class="item-info" >めっちゃええやん</p>
        </div>
      </div>

      <div class="top-text">
        <p class="left-text">家電・スマホ・カメラ新着アイテム</p>
        <a href="" class="right-text">
          <p class="text">もっと見る</p>
          <i class="fas fa-chevron-right"></i>
        </a>
      </div>

      <div class="lists-10">
        <div class="item">
          <img src="https://is4-ssl.mzstatic.com/image/thumb/Purple113/v4/cf/12/24/cf12243d-81df-06d0-9231-88e7998b8ae1/AppIcon-0-1x_U007emarketing-0-85-220-7.png/246x0w.jpg" class="item-image">
          <span aria-label="Price">¥900</span>
          <p class="item-info" >めっちゃええやん</p>
        </div>

        <div class="item">
          <img src="https://is4-ssl.mzstatic.com/image/thumb/Purple113/v4/cf/12/24/cf12243d-81df-06d0-9231-88e7998b8ae1/AppIcon-0-1x_U007emarketing-0-85-220-7.png/246x0w.jpg" class="item-image">
          <span aria-label="Price">¥900</span>
          <p class="item-info" >めっちゃええやん</p>
        </div>
      </div>

      <div class="top-text">
        <p class="left-text">おもちゃ・ホビー・グッズ</p>
        <a href="" class="right-text">
          <p class="text">もっと見る</p>
          <i class="fas fa-chevron-right"></i>
        </a>
      </div>

      <div class="lists-10">
        <div class="item">
          <img src="https://is4-ssl.mzstatic.com/image/thumb/Purple113/v4/cf/12/24/cf12243d-81df-06d0-9231-88e7998b8ae1/AppIcon-0-1x_U007emarketing-0-85-220-7.png/246x0w.jpg" class="item-image">
          <span aria-label="Price">¥900</span>
          <p class="item-info" >めっちゃええやん</p>
        </div>

        <div class="item">
          <img src="https://is4-ssl.mzstatic.com/image/thumb/Purple113/v4/cf/12/24/cf12243d-81df-06d0-9231-88e7998b8ae1/AppIcon-0-1x_U007emarketing-0-85-220-7.png/246x0w.jpg" class="item-image">
          <span aria-label="Price">¥900</span>
          <p class="item-info" >めっちゃええやん</p>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render partial: "shared/footer" %>