// Place all the styles related to the card controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.credit__card__box__size{
  background-color:red;
  padding:40px;
}
.next__button__red__start{
  font-weight: 900;
    font-size: 14px;
    margin-left: 10px;
}