.mercari__starting__border{
  position:relative;

  
}
.mercari__border5{
  border:1px solid red;
  width:370px;
  margin-bottom:-50px;
  margin-left:300px;
  position:absolute;
  left:580px;
  top:100px;
  z-index:1;
}
.mercari__starting_button{
  font-size:15px;
}
.mercari__start__img{
  width:700px;
  
}
