.card--vocaburary{
  font-size:50px;
  background: #ea352d;
  border: 1px solid #ea352d;
  color: #fff;
  display: block;
    width: 55%;
    line-height: 48px;
    font-size: 14px;
    border: 1px solid transparent;
    -webkit-transition: all ease-out .3s;
    transition: all ease-out .3s;
    cursor: pointer;
    text-align: center;
    margin-top:20px;
}
.card--adding-border{
width: auto;
height: 3%;
margin: 0 auto;
text-align: center;
border-bottom: 2px solid;
border-width: thin;
border-color: #f5f5f5;
padding: 8px 24px;
font-size: 24px;
font-weight: 900;
}
.user-edit_title__card{
width: auto;
    height: 3%;
    margin: 0 auto;
    text-align: center;
    padding: 8px 24px;
    font-size: 24px;
    font-weight: 900;
}
.credit-card-edition{
  margin-left:180px;
}
.adding-vocaburary-finish{
  font-size:16px;
  margin-top:60px;
font-weight:900;
}
.card-edit--countainer{
  width:700px;
  height: auto;
  background-color: white;
  height:430px;
}
.card--adding-border2{
width:100%;
  border-bottom :2px solid #f5f5f5;
  margin-top:15px;
}
.mercari__user__secretcard__information{
margin-left:240px;
  margin-top:30px;
   padding-bottom:30px;
  //  margin-left:120px;
  color: #0099e8;
 }