.new__user__registrations{
background-color:red;
width:500px;
}
.log-in-body__boxes{
  background-color: white;
  padding-top: 15px;
  padding-right:130px;
  padding-left:130px;
  margin: 0 auto;
  width: 456px;
  text-align: center;
  border-bottom:solid 1px;
}
.log-in-body__main__inner__googles{
  margin-top: 16px;
  // margin-bottom: 58px;
  border: 1px solid #bbb;
  color: black;
  // width: 328px;
  // height: 50px;
  // line-height: 50px;
  display: flex;
  font-size: 14px;
  margin-bottom:70px;
}
.logout__footer__boxes{
  width: 720px;
  margin-top: 30px;
  background-color: #ececec;
  margin-left:-130px;
}