// Place all the styles related to the mains controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body, html{
  height: 100%;
  margin: 0;
  padding-top: 0;
}

@import url("header.scss");
// ヘッダーのSCSS長いのでインポートしてます

