.product-inft {
  min-height: 300px;
  max-height: 300px;
  width: 700px;
  background-color: white;

}
.item__information__phone{
padding-bottom:20px;
  text-align:center;
  border-bottom: 1px solid #f5f5f5;
}
.confirmation__finishing{
  margin-left:300px;
  margin-top:80px;
}