// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


$border: 1px solid rgb(241, 241, 241);
$light-gray: rgba(197, 197, 197, 0.4);
@mixin required{
  height: 19px;
  width: 33px;
  margin-left: 10px;
  margin-top: 17px;
  background-color: rgb(233, 16, 16);
  color: white;
  font-size: 12px;
  text-align: center;
  border-radius: 3px; 
}


.explanation-top{
  height: 110px;
  width: 100vw;
  .mercari-img{
    height: 49px;
    width: 20%;
    margin-left: 39.7%;
    margin-top: 3%;
  }
}
.product-info{
  height: 2016px;
  width: 700px;
  margin: auto;
  background-color: white;
  .explanation{
    height: 97px;
    text-align: center;
    line-height: 100px;
    font-size: 22px;
    border-bottom: $border;
  }
  .image-up{
    min-height: 285px;
    max-height: 330px;
    border-bottom: $border;

    .image-explanation{
      height: 26px;
      margin-left: 40px;
      display: flex;
      flex-direction: row;
    
      .image-text{
        font-size: 16px;
      }
      .required{
        @include required();
      }
    }
    .image-explanation-2{
      font-size: 14px;
      margin-left: 40px;
      font-weight: inherit;
    }


    // 画像ドロップフォーム（機能は搭載したけどビューの調整必要あり）
    .image-drop{
      width:  90%;
      height: 155px;
      margin-left: 40px;
      position: relative;
      .file-label{
        width:  90%;
        height: 155px;
        background-color: rgba(247, 247, 247, 0.4);
        border: dashed 1px rgb(187, 187, 187);
        
        #files{
          opacity: 0;
          width:   100%;
          height: 154px;
        }
      }
      .image-filter{
        position: absolute;
        top: 0;
        
        .image-out{
          display: flex;
          flex-direction: row;
          
          .get-image{
            max-height: 114px;
            height: auto;
            width: 114px;
          }
        }
      }
    }
  }


  .sell-info{
    min-height: 355px;
    max-height: 413px;
    border-bottom: $border;
    .product-name{
      height: 26px;
      margin-left: 40px;
      margin-top: 23px; 
      display: flex;
      flex-direction: row;

      .product-text{
        font-size: 14px;
      }
      .required{
        @include required();
        margin-top: 12px;
      }
    }
    #field-name-exp{
      height: 40px;
      width: 88%;
      font-size: 16px;
      margin-top: 10px; 
      margin-left: 40px;
      border-radius: 5px;
      border: 1px solid $light-gray;
    }

    .product-explanation{
      height: 26px;
      margin-left: 40px;
      margin-top: 30px; 
      display: flex;
      flex-direction: row;

      .explanation-text{
        font-size: 14px;
      }
      .required{
        @include required();
        margin-top: 13px;
      } 
    }
    #field-text-exp{
      height: 140px;
      width: 88%;
      font-size: 16px;
      line-height: 40px;
      margin-top: 10px; 
      margin-left: 40px;
      border-radius: 5px;
      border: 1px solid $light-gray;
    }

  }

  .sell-category{
    min-height: 261px;
    max-height: 319px;
    border-bottom: $border;
    display: flex;
    flex-direction: row;

    .details-text{
      width: 31%;
      margin-left: 40px;
      padding-top: 16px;
      font-size: 14px;
      color: rgb(160, 158, 158);
    }
    .categorys{
      height: 50%;

      .select-text{
        height: 26px;
        margin-top: 20px; 
        display: flex;
        flex-direction: row;

        .category-text{
          font-size: 14px;
        }
        .required{
          @include required();
          margin-top: 13px;
        } 
      }

      .select-text{
        height: 26px;
        margin-top: 20px; 
        display: flex;
        flex-direction: row;

        .condition-text{
          font-size: 14px;
        }
        .required{
          @include required();
          margin-top: 13px;
        } 
      }
    }
  }

  .sell-postage{
    min-height: 371px;
    max-height: 429px;
    border-bottom: $border;
    display: flex;
    flex-direction: row;
    
    .postage-text{
      width: 31%;
      margin-left: 40px;
      padding-top: 25px;
      font-size: 14px;
      color: rgb(160, 158, 158);
    }
    .fa-question-circle{
      color: rgb(47, 136, 209);
    }
    .categorys{
      height: 50%;

      .select-text{
        height: 26px;
        margin-top: 20px; 
        display: flex;
        flex-direction: row;

        .category-text{
          font-size: 14px;
        }
        .required{
          @include required();
          margin-top: 13px;
        } 
      }

      .select-text{
        height: 26px;
        margin-top: 20px; 
        display: flex;
        flex-direction: row;

        .condition-text{
          font-size: 14px;
        }
        .required{
          @include required();
          margin-top: 13px;
        } 
      }
      .select-text{
        height: 26px;
        margin-top: 20px; 
        display: flex;
        flex-direction: row;

        .condition-text{
          font-size: 14px;
        }
        .required{
          @include required();
          margin-top: 13px;
        } 
      }
    }
  }

  .sell-price{
    min-height: 299px;
    max-height: 328px;
    border-bottom: $border;
    display: flex;
    flex-direction: row;

    .details-text{
      width: 31%;
      margin-left: 40px;
      padding-top: 16px;
      font-size: 14px;
      color: rgb(160, 158, 158);
    }
    .fa-question-circle{
      color: rgb(47, 136, 209);
    }
    .categorys{
      height: 50%;
      padding-top: 20px;

      .select-text{
        height: 75px;
        margin-top: 20px; 
        display: flex;
        flex-direction: row;
        border-bottom: $light-gray 1px solid;

        .category-text{
          font-size: 14px;
        }
        .required{
          @include required();
          margin-top: 13px;
        } 
        .yen{
          margin: 19px 10px 0 155px;
          font-size: 12px;
          font-weight: inherit; 
        }
        .field-name-exp{
          height: 40px;
          width: 100%;
          font-size: 13px;
          border-radius: 5px;
          border: 1px solid $light-gray;
          
        }
      }
    }
    .price-10{
      height: 70px;
      margin-top: -10px;
      border-bottom: $light-gray 1px solid;
      display: flex;
      justify-content: space-between;

      .price-10-text{
        font-size: 14px;
        font-weight: inherit;
        
      }
      .price-fee{
        font-size: 13px;
        font-weight: 500;
      }
    }
    .price-gain{
      height: 70px;
      margin-top: -13px;
      display: flex;
      justify-content: space-between;

      .price-gain-text{
        font-size: 16px;
        
      }
      .profits_n_yen{
        display: flex;
        flex-direction: row;
        margin-top: 10px;
        .price-profits{
          font-size: 30px;
        }
        .big-yen{
          font-size: 30px;
          margin-top: 0px;
        }
      }
    }
  }

  .sell-confirm{
    height: 329px;
  
    .agreement-text{
      font-size: 14px;
      margin: 40px 0 0 40px;
    }
    .agreement-link{
      color: rgb(70, 138, 240);
    }
    #sell-send{
      height: 50px;
      width: 89%;
      margin: 40px 0 0 40px;
      background-color: rgb(226, 25, 25);
      color: white;
      font-size: 14px;
      cursor: pointer;
    }
    #back-send{ 
      #back-text{
        margin: 20px 0 0 30%;
        height: 50px;
        width: 40%;
        font-size: 14px;
        background-color: rgb(179, 178, 178);
        text-align: center;
        line-height: 50px;
        color: white;
      }
    }
  }
}
.explanation-footer{
  height: 220px;
  width: 100vw;
  margin: 0;
  .bottom-agreement{
    margin-left:35%;
    display: flex;
    flex-direction: row;

    .agreement1{
      padding:40px 0 0 20px;
      font-size: 12px;
      color: black;
    }
  }
  .bottom-img{
    height: 75px;
    width: 75px;
    padding:40px 0 0 47%;
  }
  .bottom-text{
    padding-left: 47%;
    margin:0;
    font-weight: inherit;
  }
}


