
.detail{
  &-main{      //スライダーなどの箱
    background-color: #fff;
    width: 44%;
    height: auto;
    margin: 40px auto;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 20px;
    &_title{      //商品タイトル
      font-size: 24px;
      text-align: center;
      word-wrap: break-word;
      line-height: 1.4;
      font-family: sans-serif;
      font-weight: bold;
      width: 80%;
      margin: 20px auto 0;
      padding: 20px 0;
    }
  }
}
.details-slide-wrapper {
  text-align: left;
  float: left;
  width: 100%;
  height: 450px;
}

.slider-box {
  width:300px;
  // border: solid thin;
  position: absolute;
}


/* 以下カルーセルスライダー関連=========== */
.slider .detail-slide {
  width: 300px;
  height: auto;
  float:left;
}

.slider .details-slides {
  width: 3000px;
  position: absolute;
}

.slider {
  width: 300px;
  height: 300px;
  // overflow: hidden;
  position: relative;
}
/* -スライドさせる為のcss- */
.detail-slide {
  // display: none;
  // width: 100%;
}
.active {
  // display: block;
}
/* ------------------------------------- */
.index-thumbs-wrapper {
  margin-top: 3px ;
  font-size: 0px;
  width: 300px;
  height: 110px;
}

.index-thumbs {
  display: inline-block;
  width: 55px;
  height: 55px;
  cursor: pointer;
  opacity: 0.5;
}

.index-thumbs:hover {
  opacity: 1;
}
// 以上カルーセルスライダー関連でした=============

.detail-main_infomation {
  &_table {//出品情報などの表
    width: 50%;
    margin: 0 0 0 16px;
    border-collapse: collapse;
    border: 1px solid #f8f8f8;
    font-size: 14px;
    text-align: left;
    float: right;
    &_tr {
      &_th {
        padding: 8px;
        background-color: #FAFAFA;
        width: 117px;
        border-style: solid ;
        border-color: rgb(211, 211, 211);
        border-width: 1px;
      }
      &_td {
        padding: 8px;
        width: 182px;
        border-style: solid ;
        border-color: rgb(228, 226, 226);
        border-width: 1px;
        &_user-link {
        color: #0099e8;
        }
        &_ratings-container {
          display: flex;
          &_item-user-ratings {
            margin: 8px 0 0 0;
            .fa-grin {
              font-size: 16px;
              color: #FF6699;
            }
            &_count {
              font-size: 13px;
            }
            .fa-meh {
              margin: 0 0 0 16px;
              font-size: 16px;
              color: #FF9900;
            }
            .fa-frown {
              margin: 0 0 0 16px;
              font-size: 16px;
              color: #00CCFF;
            }
          }
        }
        &_category-link {
          color: #0099e8;
        }
        &_brand-link {
          color: #0099e8;
        }
        &_prefecture-link {
          color: #0099e8;
        }
      }
    }
  }
}
.detail-main_price{
  margin-top: 16px;
  height: auto;
  text-align: center;
  &-rabel{
    font-size: 50px;
    margin:0;
    padding:0;
    display:inline;
    font-weight: 600;
    &-tax{
      font-size: 5px;
      display:inline;
      &-shipping{
        font-size: 20px;
        display:inline;
      }
    }
  }
}
.shipping-btn{
  display: block;
  margin-top: 16px;
  font-size:24px;
  font-weight: 600;
  width: 100%;
  height: 60px;
  border: none;
  background: #ea352d;
  color: white;
  letter-spacing: 3px;
}
.detail-main_comment{
  margin-top: 16px;
  font-size: 20px;
}

.detail-main_button-container{
  margin: 16px 0 0;
  font-size: 10px;
  height: 30px;
  display: flex;
  vertical-align: center;
}
  .detail-main_good-btn{
    display: inline-block;
    padding: 8px 16px;
    border-radius: 40px;
    background-color: #f5f5f5;
    border: none;
    width: auto;
  }
  .detail-main_report-btn{
    margin-left: 10px;
    display: inline-block;
    padding: 8px 16px;
    border-radius: 40px;
    background-color: #f5f5f5;
    border: none;
    width: auto;
    }
  .detail-main_safty{
    color: #0099e8;
    line-height: 30px;
    font-size: 14px;
    margin: 0 0 0 18%;
    right: 0px;
  }

  .comment-box{
    padding-top:16px;
    background-color: #fff;
    width: 45%;
    height: auto;
    margin: 40px auto;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 20px;
    &_notice{
      padding: 8px;
      margin-bottom: 10px;
      font-size: 14px;
      background: #fff6de;
      letter-spacing: 2px;
    }
      .comment-box_texterea{
        width: 99%;
        max-width: 99%;
        min-height: 104px;
      }
        .comment-box_button{
          display: block;
          margin-top: 16px;
          font-size:18px;
          width: 100%;
          height: 60px;
          border: none;
          background: #aaa;
          color: white;
          letter-spacing: 5px;
        }
  }

  .item-link_box{
    color: #0099e8;
    margin: 0 auto;
    width: 48%;
    font-size: 15px;
    .item-link_back{

    }
    .item-link_foward{
      float: right;
    }
  }

  .sns-box{
    background-color: #fff;
    width: 45%;
    height: auto;
    margin: 40px auto;
    padding: 20px 40px;
    display: flex;
    justify-content: center;
  }
    .facebook-icon{
      border-radius: 4px;
      line-height: 50px;
      width: 50px;
      color: white;
      font-size: 44px;
      background-color: #385185;
      display: inline-block;
      .fab{
        margin-left: 5px;
      }
    }
    .twitter-icon{
      border-radius: 4px;
      line-height: 44px;
      color: white;
      font-size: 44px;
      width: 50px;
      background-color: #5d9dc9;
      display: inline-block;
      margin: 0 20px;
      .fab{
        margin:5px 0 0 5px;
      }
    }
    .pinterest-icon{
      border-radius: 4px;
      line-height: 44px;
      color: white;
      font-size: 44px;
      width: 50px;
      background-color: #aa262a;
      display: inline-block;
      .fab{
        margin:3px 0 0 3px;
      }
    }
  .user-other_items{
    margin: 0 auto;
    color: #0099e8;
    font-weight: bold;
    font-size: 20px;
    width: 50%;
  }
    .user-items{
      padding-top:16px;
      background-color: #fff;
      width: 45%;
      height: auto;
      margin: 40px auto;
      padding-left: 40px;
      padding-right: 40px;
      padding-bottom: 20px;
      display: flex;
        .item{
          height: 252px;
          width: 188px;
          margin-right: 18px;
          margin-bottom: 18px;
          background-color: gray;
          box-shadow: 2px 2px 2px  gray;
          .item-image{
            height: 188px;
            width: 188px;
          }
        }
      }

      .user-similar_items{
        margin: 0 auto;
        color: #0099e8;
        font-weight: bold;
        font-size: 20px;
        width: 50%;
      }
        .similar-items{
          padding-top:16px;
          background-color: #fff;
          width: 45%;
          height: auto;
          margin: 40px auto;
          padding-left: 40px;
          padding-right: 40px;
          padding-bottom: 20px;
          display: flex;
            .item{
              height: 252px;
              width: 188px;
              margin-right: 18px;
              margin-bottom: 18px;
              background-color: gray;
              box-shadow: 2px 2px 2px  gray;
              .item-image{
                height: 188px;
                width: 188px;
              }
            }
          }
