
.mypage__main{
margin:0px auto;
width:1020px;
padding:0px;
}


// }
// div{
// display: block;
// }
// @mixin name 
// {
// a{
//   color: #0099e8;
//   color: #333;
//   -ms-touch-action: manipulation;
//   touch-action: manipulation;
// }
// h3{
//   font-size: 22px;
// }


.mypage__side{
// float:left;
width:280px;
margin:0 40px 0 0;
}
.mypage__side__nav{
display:block;
}
.mypage__side__list{
padding:0px;
list-style:none;
margin: 0;
}
.mypage__side__list__tav{
display:block;
text-decoration:none;
padding:16px;
display:block;
background-color:#fff;
font-size:14px;
color:#333;
border-top:solid 1px #f5f5f5;
// font-weight: 600;
}
.mypage__side__list__tav:hover{
// transform:translate(1%);
padding: 16px 12px 16px 16px;
color: #ccc;
}
.fa-angle-right{
float:right;
font-size: 1.8em;
transition:0.2s;
}
.fa-angle-right:hover{
color: #ccc;
}
.mypage__side__merpay{
font-size:16px;
margin:40px 0 0;
}
.mypage__side__merpay__list{
padding: 0px;
list-style:none;
margin: 8px 0 0;
background:#fff;
}
.mypage__side__merpay__list__tav{
text-decoration: none;
position: relative;
display: block;
padding: 16px;
font-size:14px;
color:#333;
border-top: solid 1px #f5f5f5;
}
.mypage__side__setting{
margin: 40px 0 0;
font-size: 16px;
}
.mypage__side__setting__list{
list-style: none;
padding: 0px;
margin: 8px 0 0;
}
.mypage__side__setting__list__tav{
text-decoration: none;
border-top: solid 1px#f5f5f5;
position: relative;
display:block;
padding:16px;
background:#fff;
font-size:14px;
color:#333;
}
