<header class="explanation-top">
  <img src="https://www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?3296506464" class="mercari-img">
</header>

<div class="buy-contents">
  <h3 class="buy-text">購入が完了しました</h3>
  <div class="buy-info">

  <%= link_to "/", class:"header__center__top__image" do%>
    <img src="https://web-jp-assets.mercdn.net/_next/static/images/logo-acdd90ac4f472d5a6f7a330d33ab1225.svg", id="mercari-img" />
  <% end %>

<footer class="explanation-footer">
  <div class="bottom-agreement">
    <a href="" class="agreement1">プライバシーポリシー</a>
    <a href="" class="agreement1">メルカリ利用規約</a>
    <a href="" class="agreement1">特定商取引に関する表記</a>
  </div>
  <img src="https://www-mercari-jp.akamaized.net/assets/img/common/common/logo-gray.svg?3296506464" class="bottom-img">
  <h6 class="bottom-text">© 2019 Mercari</h6>
</footer>