<div class = "detail">
  <div class = "detail-main">
    <div class = "detail-main_title">新品ゆったり無地ワンピース長袖レディース痩せ大きいサイズロング丈パーカー</div>
    <div class = "detail-main_images"></div>
    <div class = "detail-main_infomation">
    </div>
    <div class = "detail-main_price">
      <div class = "detail-main_price-rabel">¥3,790</div>
      <div class = "detail-main_price-rabel-tax">(税込)</div>
      <div class = "detail-main_price-rabel-tax-shipping">送料込み</div>
    </div>
    <button class = "shipping-btn" type="submit">購入画面に進む</button>
    <div class = "detail-main_comment">
      ダミーコメントです。<br>
      大切にクリーニングしながら履いてましたので、<br>
      ソールの減りはほぼありません。<br>
      白レザーなので、多少のシワや汚れなどは取りきれないものがあります。<br>
      状態としては良好です。<br>
      インソールなどの汚れなどはありません。<br>
    </div>

    <div class = "detail-main_button-container">
      <div class = "detail-main_good-btn">
      いいね</div>
      <div class = "detail-main_report-btn">
      報告</div>
      <div class = "detail-main_safty">
      あんしん・あんぜんへの取り組み</div>
    </div>



</div>