<div class = "detail">
  <div class = "detail-main">
    <div class = "detail-main_title">新品ゆったり無地ワンピース長袖レディース痩せ大きいサイズロング丈パーカー</div>
    <%# items_titleを挿入 %>
    <div class = "detail-main_images"></div>
    <%# items_imageを挿入 %>
    <div class = "detail-main_infomation">
    <%# 購入者詳細、評価、ジャンルなどを挿入 %>
    <tbody>
      <th></th>
      <td></td>
    </tbody>
    </div>
    <div class = "detail-main_price">
      <div class = "detail-main_price-rabel">¥3,790</div>
        <%# items_priceを挿入 %>
      <div class = "detail-main_price-rabel-tax">(税込)</div>
      <div class = "detail-main_price-rabel-tax-shipping">
      送料込み
      <%# items_postageを挿入 %>
      </div>
    </div>
    <button class = "shipping-btn" type="submit">購入画面に進む</button>
    <div class = "detail-main_comment">
      <%# items_commentと差し替え %>
      ダミーコメントです。<br>
      大切にクリーニングしながら履いてましたので、<br>
      ソールの減りはほぼありません。<br>
      白レザーなので、多少のシワや汚れなどは取りきれないものがあります。<br>
      状態としては良好です。<br>
      インソールなどの汚れなどはありません。<br>
    </div>

    <div class = "detail-main_button-container">
      <button class = "detail-main_good-btn">
        いいね！
      </button>
      <button class = "detail-main_report-btn">
        不適切な商品の報告報告
      </button>
      <div class = "detail-main_safty">
        あんしん・あんぜんへの取り組み</div>
    </div>



</div>